--- 
# Only the main Sass file needs front matter (the dashes are enough) 
---

@import 'type2',
'colors2';

// - - - - - - - - - - Mixins - - - - - - - - - //
@mixin centerer($position:relative) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin v-center($position:relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin h-center($position:relative) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

//-------------------------Global Styles---------------------//
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: $background;
    position: relative;
    .main-card { 
        background:#FFF;
        border:1px solid #AAA;
        border-bottom:3px solid #BBB;
        padding:0px;
        margin:15px;
        overflow:hidden;
        height: 15em;
        width: 80%;
        max-width: 960px;
        margin-top: 2em;
        margin-bottom: 0;
        @include h-center;
        border-radius: 5px;
        .main-image {
            height: auto;
            width: auto;
            padding: 1em;
            img {
                height: 12em;
                width: auto;
            }
            
        }
    }
   
        
        
        .card {
            background:#FFF;
            border:1px solid #AAA;
            border-bottom:3px solid #BBB;
            padding:0px;
            margin:15px;
            overflow:hidden;
            height: auto;
            width: 80%;
            margin-top: 2em;
            @include h-center;
            border-radius: 5px;
            .people {
                width: 100%;
                height: auto;
                border-bottom: 1px solid $background;
                .person-image { 
                    height: auto;
                    width: auto;
                    padding: 1em;
                    display: inline-block;
                    
                    img {
                        height: 8em;
                        width: auto;
                    }
            }
                .person-text {
                        
                        
                        p {
                            float: right;
                            display: inline-block;
                        
                    }
                    }
                }
            }
            .view-more {
                width: 100%;
                height: 2em;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                position: relative;
                a {
                    @include centerer(absolute);
                    color: $secondary;
                    margin: 0;
                    text-decoration: none;
                    
                    
                }
            }
            .tabs {
            background-color: $secondary;
            width: 100%;
            height: 3em;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: .5em solid $background;
            position: relative;
            .tab {
                    display: inline-block;
                    color: white;
                    width: 24.5%;
                    height: 100%;
                    position: relative;
                    span {
                        @include centerer(absolute);
                    
                    }
                }
          
            
        }
    }


footer{
    .footer {
        width: 50%;
        @include h-center;
        height: 4em;
        .footer-link {
            position: relative;
            display: inline-block;
            float: left;
            width: 24.5%;
            height: 100%;
        a {
            text-decoration: none;
            color: $secondary;
            @include centerer(absolute);
            white-space: nowrap;
         
            }
        
        
    }
}

}

.header-nav {
    background-color: $primary;
    width: 100%;
    height: 3em;
    color: $secondary;
    position: relative;
    .search {
        background-color: white;
        opacity: .5;
        width: 40%;
        height: 1.75em;
        border-radius: 5px;
        @include centerer;
    }
}