<header class="site-header">



    <div class="header-nav">
        <i class="ion-navicon" id="menu-icon"></i>
        <a href="#" class="li-icon"><img src="/images/linkedIcon.svg"></a>

        <div class="search">
            <i class="ion-android-search"></i>
        </div>

        <i class="ion-person-add"></i>
        <i class="ion-flag"></i>
        <i class="ion-chatboxes"></i>
        <img class="profile-pic" src="images/Screen Shot 2016-04-03 at 4.19.00 PM.png" alt="">

    </div>

</header>
